* { 
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-size: 2.5em;
    padding-top: 40px;
}

.header p {
    font-size: 18px;
    padding-bottom: 20px;
}

.header {
    text-align: center;
}

.container {
    background-color: #EEEEEE;
}

.hero {
    background-color: white;
}
.hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    width: 70%;
}
