* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: #EEEEEE;
    text-align: center;
}

.header h1 {
    font-size: 2.5em;
    padding-top: 40px;
}
.header p {
    font-size: 18px;
    padding-bottom: 10px;
}

.hero {
    background-color: white;
}

.hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 70%;
}
.hero p{
    text-align: center;
    font-size: 12px;
}
.timeline{
    text-align: center;
}
.timeline h2{
    font-size: medium;
}
.list {
    width: 40%;
    margin: 0 auto;
}
span{
    font-weight: bold;
}